@font-face {
    font-family: 'JandaManateeSolid';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/JandaManateeSolid.ttf') format('truetype'),
        local('JandaManateeSolid'),;
}