name: Personal App CI
on:
  pull_request:
    types: [unassigned, assigned, synchronize]
    paths:
      - "personal-portfolio/src/app/**"

defaults:
  run:
    shell: bash
    working-directory: "./personal-portfolio/src/app"
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build
        
  linting:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 20.x
      uses: actions/setup-node@v3
      with:
        node-version: 20.x
    - name: Install dependencies
      run: npm install
    - name: Lint with ESLint
      run: npm run lint